#!/bin/sh

export HOME="/home/me"
# If you installed plenv with homebrew, then your path will be in /usr/local
# export PATH="/usr/local/bin:$PATH"
export PATH="$HOME/.plenv/bin:$PATH"
eval "$(plenv init -)"
cd $HOME/pi_slide_show

exec carton exec -- generate_slideshow.pl
