$spacing: .5em;

body {
        background-color: black;
}
div.shelf {
    overflow: hidden;
}
div#top_row, div#bottom_row {
    position: relative;
    overflow: hidden;
}
div#bottom_row {
    padding-top: $spacing;
}
.photo {
    position: relative;
}
.photo:last-child .img_box {
    margin-right: 0;
}
.img_box {
    margin-right: $spacing;
    overflow: hidden;
    position: relative;
    left: 0;
}
.img_box + .img_box {
    margin-top: $spacing;
}
.portrait {
    max-width: 113.8%; /* Some sort of sane default, but will override */
}

div#photo_store {
    display: none;
}

div.album_name {
    position: relative;
    color: rgba(255,255,255,.25);
    bottom: 2em;
    text-align: center;
    font-size: 3em;
}
    
